<div class="rental-transport-booking-section container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="media d-flex align-items-center">
          <img class="mr-4" src="../../../assets/images/rental-transport-booking-section__calendar.svg" alt="">
          <div class="media-body">
            <h5 class="mt-0">Manage you booking online</h5>
            Cancel or amend your car or dates online quickly and easily
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="media d-flex align-items-center">
          <img class="mr-4" src="../../../assets/images/rental-transport-booking-section__car.svg" alt="">
          <div class="media-body">
            <h5 class="mt-0">Huge selection of cars</h5>
            Working with 900 companies in 160 countries, we cant find the right car
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="media d-flex align-items-center">
          <img class="mr-4" src="../../../assets/images/rental-transport-booking-section__chauffer.svg" alt="">
          <div class="media-body">
            <h5 class="mt-0">Vehicle licensing free </h5>
            Working with 900 companies in 160 countries, we cant find the right car
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

