<div class="transport-item">
  <div class="card">
    <a href="#" class="transport-item__link-img">
      <img src="../../../assets/images/transport-item__car.svg" alt="">
    </a>
    <div class="card-body transport-item__body">
      <h4 class="transport-item__title"><a href="#" class="transport-item__title-link">Ford Focus 3</a></h4>
      <div class="transport-item__text">
        <table class="transport-item__table">
          <tbody class="transport-item__table-body">
          <tr>
            <td class="transport-item__static-information">Year</td>
            <td class="transport-item__dynamic-information">2013</td>
          </tr>
          <tr>
            <td class="transport-item__static-information">Engine</td>
            <td class="transport-item__dynamic-information">1.0L</td>
          </tr>
          <tr>
            <td class="transport-item__static-information">Gear box</td>
            <td class="transport-item__dynamic-information">Manual</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="transport-item__footer">
        <span class="transport-item__price-number">$33<span class="transport-item__price-text">/day</span></span>
        <div class="card-coins__footer-btn">
          <a href="#" class="btn btn-primary" data-toggle="button">
            <span>RENT</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>