<div class="container-fluid page-header">
    <div class="page-header__horizontal-line"></div>
    <div class="container">
        <div class="row">
        <div class="col-6 page-header__main-menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand mr-xl-5" href="#">
                    <i class="page-header__logo"></i>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav page-header__list">
                        <li class="nav-item page-header__item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="page-header__menu-line">
                            <div class="page-header__vertical-line"></div>
                        </li>
                        <li class="nav-item page-header__item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="page-header__menu-line">
                            <div class="page-header__vertical-line"></div>
                        </li>
                        <li class="nav-item page-header__item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-3 d-flex">
            <div class="dropdown page-header__languages-dropdown">
                <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../../assets/images/page-header__united-kingdom.svg" alt="">
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">
                        <img src="../../../assets/images/page-header__united-kingdom.svg" alt="">
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="../../../assets/images/page-header__united-kingdom.svg" alt="">
                    </a>
                    <a class="dropdown-item" href="#">
                        <img src="../../../assets/images/page-header__united-kingdom.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="page-header__line-header"></div>
        </div>
        <app-authorization class="col-3"></app-authorization>
    </div>
    </div>
</div>

