.page-footer {
  background: #282625;
  border-top: 1px solid #FDD32E;
  width: 100%;
  height: auto;
  padding-top: 36px;
}

.page-footer h6 {
  color: #fff;
  margin-bottom: 17px;
  font-weight: bold;
}

.page-footer a {
  line-height: 25px;
  color: #D1D1D1;
}