<div class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-3 d-flex flex-column">
        <h6>Help & Information</h6>
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
        <a href="#">Help</a>
        <a href="#">View Booking</a>
        <a href="#">Affiliate Programme</a>
        <a href="#">Supply Partner Enquiry and Marketplace</a>
      </div>

      <div class="col-3 d-flex flex-column">
        <h6>&shy;</h6>
        <a href="#">Offer Subscription</a>
        <a href="#">Price Match Guarantee</a>
        <a href="#">Privacy Notice</a>
        <a href="#">Cookie Statement</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Modern Slavery Statement</a>
        <a href="#">Careers</a>
      </div>

      <div class="col-3 d-flex flex-column">
        <h6>Related Searches</h6>
        <a href="#">Luxury Car Hire</a>
        <a href="#">Convertible Car Hire</a>
        <a href="#">7 & 9 Seater Car Hire</a>
        <a href="#">Car Hire Companies</a>
        <a href="#">Airport Transfers</a>
      </div>

      <div class="col-3 d-flex flex-column">
        <h6>Other</h6>
        <a href="#">Popular Countries</a>
        <a href="#">Car Hire Locations in USA</a>
        <a href="#">All Countries</a>
        <a href="#">Magazine</a>
        <a href="#">RentalGuides</a>
        <a href="#">Car Rental Deals</a>
        <a href="#">Languages</a>
      </div>
    </div>
  </div>
</div>