<div class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="page-footer__paragraph">
          <h6>Help & Information</h6>
          <a href="#">About Us</a>
          <a href="#">Contact Us</a>
          <a href="#">Help</a>
          <a href="#">View Booking</a>
          <a href="#">Affiliate Programme</a>
          <a href="#">Supply Partner Enquiry and Marketplace</a>
        </div>
      </div>

      <div class="col">
        <div class="page-footer__paragraph">
          <h6 class="page-footer__blank-header"></h6>
          <a href="#">Offer Subscription</a>
          <a href="#">Price Match Guarantee</a>
          <a href="#">Privacy Notice</a>
          <a href="#">Cookie Statement</a>
          <a href="#">Terms & Conditions</a>
          <a href="#">Modern Slavery Statement</a>
          <a href="#">Careers</a>
        </div>
      </div>

      <div class="col">
        <div class="page-footer__paragraph">
          <h6>Related Searches</h6>
          <a href="#">Luxury Car Hire</a>
          <a href="#">Convertible Car Hire</a>
          <a href="#">7 & 9 Seater Car Hire</a>
          <a href="#">Car Hire Companies</a>
          <a href="#">Airport Transfers</a>
        </div>
      </div>

      <div class="col">
        <div class="page-footer__paragraph">
          <h6>Other</h6>
          <a href="#">Popular Countries</a>
          <a href="#">Car Hire Locations in USA</a>
          <a href="#">All Countries</a>
          <a href="#">Magazine</a>
          <a href="#">RentalGuides</a>
          <a href="#">Car Rental Deals</a>
          <a href="#">Languages</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="page-footer__confidentiality col-5 mt-5">
        <a href="#" class="mr-4">Privacy</a>
        <a href="#" class="mr-4">Terms & Conditions</a>
        <a href="#" class="mr-4">Ad</a>
        <a href="#">Choices</a>
      </div>
    </div>
    <div class="row">
      <div class="page-footer__text-bottom col-9 ">
        <p>Search cheap rental cars with KAYAK. Search for the cheapest rental car deal for all major destinations around the world. KAYAK searches different travel sites to help you find and book the rental car deal that suits you best.</p>
      </div>
      <div class="page-footer__social-network col-3">
        <a href="#">
          <img src="../../../assets/images/page-footer__facebook-logo.svg" alt="">
        </a>
        <a href="#">
          <img src="../../../assets/images/page-footer__twitter.svg" alt="">
        </a>
        <a href="#">
          <img src="../../../assets/images/page-footer__youtube.svg" alt="">
        </a>
        <a href="#">
          <img src="../../../assets/images/page-footer__instagram.svg" alt="">
        </a>
      </div>
    </div>
  </div>
</div>