.page-footer {
  background: #282625;
  border-top: 1px solid #FDD32E;
  width: 100%;
  height: auto;
  padding-top: 36px;
  padding-bottom: 40px;
}

.page-footer h6 {
  color: #fff;
  margin-bottom: 17px;
  font-weight: bold;
}

.page-footer a {
  line-height: 25px;
  color: #D1D1D1;
}

.page-footer__paragraph {
  padding-right: 40px;
  display: flex;
  flex-direction: column;

  a {
    white-space: nowrap;
    font-size: 14px;
  }
}

.page-footer__blank-header {
  border: none;
  margin-top: 22px;
}

.page-footer__confidentiality a {
  color: #ffffff;
}

.page-footer__text-bottom {
  font-size: 14px;
  line-height: 25px;
  color: #D1D1D1;
  margin-top: 13px;
}

.page-footer__social-network {
  display: flex;
  align-items: baseline;

  a {
    margin-right: 20px;
  }
}