<div class="choice-of-transport-tabs">
    <nav>
        <div class="nav nav-tabs choice-of-transport-tabs__tab-links" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-cars-tab" data-toggle="tab" href="#nav-cars" role="tab" aria-controls="nav-cars" aria-selected="true">
                <i class="choice-of-transport-tabs__icon-cars"></i>
                <span>Cars</span>
            </a>

            <a class="nav-item nav-link" id="nav-motorbike-tab" data-toggle="tab" href="#nav-motorbike" role="tab" aria-controls="nav-motorbike" aria-selected="false">
                <i class="choice-of-transport-tabs__icon-motorbike"></i>
                <span>Motorbike</span>
            </a>

            <a class="nav-item nav-link" id="nav-scooter-tab" data-toggle="tab" href="#nav-scooter" role="tab" aria-controls="nav-scooter" aria-selected="false">
                <i class="choice-of-transport-tabs__icon-scooter"></i>
                <span>Scooter</span>
            </a>

            <a class="nav-item nav-link" id="nav-bicycle-tab" data-toggle="tab" href="#nav-bicycle" role="tab" aria-controls="nav-bicycle" aria-selected="false">
                <i class="choice-of-transport-tabs__icon-bicycle"></i>
                <span>Bicycle</span>
            </a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-cars" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row">
                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-motorbike" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row">
                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-scooter" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="row">
                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-bicycle" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="row">
                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>

                <div class="col">
                    <app-transport-item></app-transport-item>
                </div>
            </div>
        </div>
    </div>
</div>