<div class="destination-slider row">

  <div class="col">
    <app-destination-item></app-destination-item>
  </div>
  <div class="col">
    <app-destination-item></app-destination-item>
  </div>
  <div class="col">
    <app-destination-item></app-destination-item>
  </div>
  <div class="col">
    <app-destination-item></app-destination-item>
  </div>

  <!--<div class="col">-->
    <!--<app-destination-item></app-destination-item>-->
  <!--</div>-->

  <!--<div class="col">-->
    <!--<app-destination-item></app-destination-item>-->
  <!--</div>-->

  <!--<div class="col">-->
    <!--<app-destination-item></app-destination-item>-->
  <!--</div>-->

</div>
